<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yzs.itaxi">

    <!-- 允许程序打开网络sockets(必选配置) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 挂断手机的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 接电话的权限 -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <!-- 读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 智能适配布局  配置设计稿的分辨率数据 -->
        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1334"/>

        <!-- 注册监听手机状态 -->
        <receiver android:name=".view.icall.PhoneStateReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 拦截来电界面 -->
        <activity
            android:name=".view.icall.ICallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
    </application>

</manifest>